@model IEnumerable<Domain.Entitty.contact>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/buttons.flash.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/buttons.flash.min.js"></script>
<script src="~/Scripts/buttons.print.min.js"></script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>

        </tr>
    }
    </tbody>

</table>
@*<script>
    $(document).ready(function () {
        $('#example').dataTable();
    });

    
</script>*@

<script>
    $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>

