@model IEnumerable<gestionSinisterWeb.Models.EventModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/indexBack.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.heure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localisation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbrmaxpart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.heure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbrmaxpart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
